extends layout
block content
    h1= Login
    form(method="post" action="/")
        input(name="userName" placeholder="username")
        br
        input(name="password" placeholder="password")
        input(type="submit")
    p(style="color:red") #{loginerror}