<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quotes CA-3</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand useajax" href="api/home">Great Quotes</a>i
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="useajax" href="api/home">Home</a></li>

                    <!-- BELOW is EJS Code to display menu items depending on whether you are logged in or not -->

                    <% if((typeof user == 'undefined')) {%>
                    <li><a class="useajax" href="api/login">Login</a></li>
                    <li><a class="useajax" href="api/user">Sign Up</a></li>
                    <% }%>

                    <% if(!(typeof user == 'undefined')) {%>
                    <li><a class="useajax" href="api/documentation">Documentation</a></li>
                    <li><a class="useajax" href="api/quote/">View Quotes</a></li>
                    <li><a class="useajax" href="api/addquote">Add Quote</a></li>
                    <li><a class="useajax" href="api/rest">REST-API</a></li>
                    <li><a class="useajax" href="api/logoff">Log out</a></li>
                    <% } %>

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
    <!-- This is where your partials will be inserted-->
    <div >
        <div id="content">content</div>
    </div>
</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        populateTable();
        loadPartial("#content","/api/home");
        $(".nav a").on("click", function(){
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });
    function loadPartial(element,url){
        $("#content").load(url,function( response, status, xhr ) {
            if (status == "error") {
                var msg = "Sorry but there was an error: ";
                $(element).html(msg + xhr.status + " " + xhr.statusText
                        +"<p>"+response+"</p>"   //Uncomment this line for full error message
                );
            }
        });
    }
    $("a.useajax").click(function(event){
        event.preventDefault();
        var url= event.target.href;
        var self = this;
        loadPartial("#content",url);
    });

    function populateTable() {

        // Empty content string
        var tableContent = '';

        // jQuery AJAX call for JSON
        $.getJSON( '/api/quote', function( data ) {

            // For each item in our JSON, add a table row and cells to the content string
            $.each(data, function(){
                tableContent += '<tr>';
                tableContent += '<td>this[0]</td>';
                tableContent += '</tr>';
            });

            // Inject the whole content string into our existing HTML table
            $('#topics table tbody').html(tableContent);
        });
    };
</script>
</body>
</html>
